.git
.github

__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov

.venv
venv
env

.env
.env.*

.gitignore
.dockerignore

*.log

.idea
.vscode

tests

*.zip
*.rar

documentation.docx
medlab_backup.sql

reports/*.pdf